<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content="Landing Page ISP Fiberconnect" />
		<meta name="description" content="Landing Page ISP Fiberconnect">
		<meta name="author" content="Humaedi">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/assets/perusahaan/fbtnew.png">
		<meta name="theme-color" content="#ffffff">

    <title>Fiberconnect | Kebijakan Privasi</title>

		<!-- Twitter -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@">
		<meta name="twitter:creator" content="@">
		<meta name="twitter:title" content="Humaedi">
		<meta name="twitter:description" content="contact me to create the application you want">
		<meta name="twitter:image" content="https://senimankode.com/img/logo.png">

		<!-- Facebook -->
		<meta property="og:url" content="https://github.com/orlinkzz">
		<meta property="og:title" content="Humaedi">
		<meta property="og:description" content="contact me to create the application you want">
		<meta property="og:type" content="article">
		<meta property="og:image" content="https://senimankode.com/img/logo.png">
		<meta property="og:image:type" content="image/png">

		<meta property="og:locale" content="id_ID" />
		<meta property="og:type" content="office" />
		<meta property="og:title" content="Fiberconnect" />
		<meta property="og:url" content="https://Fiberconnect.id"/>
		<meta property="og:site_name" content="PT Bina Informatika Solusi | Fiberconnect" />

		<link rel="apple-touch-icon" sizes="57x57" href="/assets/perusahaan/fbtnew.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/assets/perusahaan/fbtnew.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/assets/perusahaan/fbtnew.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/assets/perusahaan/fbtnew.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/assets/perusahaan/fbtnew.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/assets/perusahaan/fbtnew.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/assets/perusahaan/fbtnew.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/assets/perusahaan/fbtnew.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/perusahaan/fbtnew.png">
		<link rel="icon" type="image/png" sizes="192x192" href="/assets/perusahaan/fbtnew.ico">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/perusahaan/fbtnew.ico">
		<link rel="icon" type="image/png" sizes="96x96" href="/assets/perusahaan/fbtnew.ico">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/perusahaan/fbtnew.ico">
		<link rel="manifest" href="assets/author.json">

		<link rel="canonical" href="https://Fiberconnect.id" />
		<link rel="shortcut icon" href="assets/perusahaan/fbtnew.ico" />

		<link href="./assets/css/flowbite.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="./assets/css/app.css">
</head>
<body class="dark:bg-gray-900 pattern-dots-dark">
	<div id="top"></div>
	<!-- Navbar: Start-->
	<nav class="sticky top-0 z-50 border-gray-200 bg-white dark:bg-gray-900">
		<div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
			<a href="index.html" class="flex items-center space-x-3 rtl:space-x-reverse">
					<img src="./assets/perusahaan/fbtnew.png" class="h-8" alt="Flowbite Logo" />
					<span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Fiberconnect</span>
			</a>
			<button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
					<span class="sr-only">Open main menu</span>
					<svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
					</svg>
			</button>
			<div class="hidden w-full md:block md:w-auto" id="navbar-default">
				<ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
					<li>
						<!--cara active button active md:dark:active -->
						<a href="index.html" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-fbt md:p-0 dark:text-white md:dark:hover:text-fbt-100 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent" aria-current="page">Home</a>
					</li>
					<li>
						<button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="flex items-center justify-between w-full py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-fbt md:p-0 dark:text-white md:dark:hover:text-fbt-100 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
							Produk
							<svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
								<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
							</svg>
						</button>
						<div id="dropdownNavbar" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
								<ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
									<li>
										<a href="data-center.html" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Data Center</a>
									</li>
									<li>
										<a href="internet.html" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Internet</a>
									</li>
								</ul>
						</div>
					</li>
					<li>
						<a href="promo.html" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-fbt md:p-0 dark:text-white md:dark:hover:text-fbt-100 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Promo</a>
					</li>
					<li>
						<a href="berita.html" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-fbt md:p-0 dark:text-white md:dark:hover:text-fbt-100 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Berita</a>
					</li>
					<li>
						<a href="tentang-kami.html" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-fbt md:p-0 dark:text-white md:dark:hover:text-fbt-100 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Tentang Kami</a>
					</li>
					<li>
						<a id="theme-toggle" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-fbt md:p-0 dark:text-white md:dark:hover:text-fbt-100 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
							<svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg>
							<svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Navbar: End-->

	<!-- Content: Start-->
	<div class="max-w-screen-xl items-center justify-between mx-auto">
		<!-- Main Feature: Start--->
    <section class="mt-4 px-2 bg-white dark:bg-gray-900 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 rounded-lg">
			<div class="container mx-auto text-center">
					<h2 class="text-3xl font-bold text-foreground">Nikmati layanan kami</h2>
					<p class="mt-2 text-muted-foreground">Kami hadir memberikan layanan terbaik untuk kamu <b>#TheFasterTheBetter</b>.</p>
					<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 mt-10">
							<div class="flex flex-col items-center p-6 bg-card rounded-lg shadow-lg transition-transform duration-300 hover:scale-105 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 rounded-lg">
									<div class="mb-4">
											<img src="https://openui.fly.dev/openui/24x24.svg?text=🎁" alt="gift icon" class="w-16 h-16 transition-transform duration-300 hover:animate-bounce" />
									</div>
									<h3 class="text-lg font-semibold text-foreground">Member Get Member</h3>
									<p class="mt-2 text-muted-foreground">Tingkatkan keuntungan Anda dengan bergabung dalam program <b>Member Get Member</b> kami!</p>
									<div class="flex-1 mt-4"></div>
									<a href="#" class="inline-flex items-center text-gray-900 rounded font-medium hover:underline hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-fbt md:p-0 dark:text-white md:dark:hover:text-fbt-100 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
										Baca selengkapnya
										<svg class="w-4 h-4 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
												<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
										</svg>
									</a>
							</div>
							<div class="flex flex-col items-center p-6 bg-card rounded-lg shadow-lg transition-transform duration-300 hover:scale-105 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 rounded-lg">
									<div class="mb-4">
											<img src="https://openui.fly.dev/openui/24x24.svg?text=📄" alt="template icon" class="w-16 h-16 transition-transform duration-300 hover:animate-bounce" />
									</div>
									<h3 class="text-lg font-semibold text-foreground">Promo Menarik</h3>
									<p class="mt-2 text-muted-foreground">Jangan lewatkan <b>promo</b> bulanan kami! Nikmati kecepatan internet terbaik dengan penawaran terbaru setiap bulan.</p>
									<div class="flex-1 mt-4"></div>
									<a href="#" class="inline-flex items-center text-gray-900 rounded font-medium hover:underline hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-fbt md:p-0 dark:text-white md:dark:hover:text-fbt-100 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
										Baca selengkapnya
										<svg class="w-4 h-4 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
												<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
										</svg>
									</a>
							</div>
							<div class="flex flex-col items-center p-6 bg-card rounded-lg shadow-lg transition-transform duration-300 hover:scale-105 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 rounded-lg">
									<div class="mb-4">
											<img src="https://openui.fly.dev/openui/24x24.svg?text=💽" alt="design icon" class="w-16 h-16 transition-transform duration-300 hover:animate-bounce" />
									</div>
									<h3 class="text-lg font-semibold text-foreground">Data Center</h3>
									<p class="mt-2 text-muted-foreground">Manfaatkan infrastruktur data center kami yang selalu diperbarui untuk layanan yang optimal.</p>
									<div class="flex-1 mt-4"></div>
									<a href="#" class="inline-flex items-center text-gray-900 rounded font-medium hover:underline hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-fbt md:p-0 dark:text-white md:dark:hover:text-fbt-100 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
										Baca selengkapnya
										<svg class="w-4 h-4 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
												<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
										</svg>
									</a>
							</div>
							<div class="flex flex-col items-center p-6 bg-card rounded-lg shadow-lg transition-transform duration-300 hover:scale-105 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 rounded-lg">
									<div class="mb-4">
											<img src="https://openui.fly.dev/openui/24x24.svg?text=🔧" alt="elements icon" class="w-16 h-16 transition-transform duration-300 hover:animate-bounce" />
									</div>
									<h3 class="text-lg font-semibold text-foreground">Peningkatan Layanan</h3>
									<p class="mt-2 text-muted-foreground">Rasakan internet berkualitas dengan layanan yang selalu ditingkatkan untuk pengalaman online yang optimal.</p>
									<div class="flex-1 mt-4"></div>
									<a href="#" class="inline-flex items-center text-gray-900 rounded font-medium hover:underline hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-fbt md:p-0 dark:text-white md:dark:hover:text-fbt-100 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
										Baca selengkapnya
										<svg class="w-4 h-4 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
												<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
										</svg>
									</a>
							</div>
					</div>
			</div>
		</section>
		<!-- Main Feature: End -->
	</div>
	<!-- Content: End-->

	<!-- Footer: Start-->
	<footer class="bg-white rounded-lg shadow dark:bg-gray-800">
		<div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
			<div class="grid w-full gap-6 md:grid-cols-2">
				<div class="mb-6 md:mb-0">
					<a href="/" class="flex items-center">
						<img src="./assets/perusahaan/fbtnew.png" class="h-8 me-3" alt="FlowBite Logo" />
						<span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Fiberconnect</span>
					</a>
					<span class="self-center whitespace-pre-line  dark:text-white">
						Provider internet terbaik dengan koneksi cepat
						kini hadir dengan layanan Broadbrand dan internet service terbesar.
						dimana kamu dapat memilih sesuai dengan kebutuhan kamu.
					</span>
				</div>
					<div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
							<div>
								<h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Tentang Kami</h2>
								<ul class="text-gray-500 dark:text-gray-400 font-medium">
									<li>
										<a href="data-center.html" class="hover:underline">Data Center</a>
									</li>
									<li>
										<a href="produk.html" class="hover:underline">Produk</a>
									</li>
									<li>
										<a href="karir.html" class="hover:underline">Karir
											<span class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-green-400 border border-green-400">Hiring!
											</span>
										</a>
									</li>
								</ul>
							</div>
							<div>
								<h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Ikuti Kami</h2>
								<ul class="text-gray-500 dark:text-gray-400 font-medium">
									<li>
										<a href="https://github.com/themesberg/flowbite" class="hover:underline ">Instagram</a>
									</li>
									<li>
										<a href="https://discord.gg/4eeurUVvTy" class="hover:underline">Facebook</a>
									</li>
									<li>
										<a href="https://discord.gg/4eeurUVvTy" class="hover:underline">Tiktok</a>
									</li>
								</ul>
							</div>
							<div>
								<h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Bantuan</h2>
								<ul class="text-gray-500 dark:text-gray-400 font-medium">
									<li>
										<a href="hubungi-kami.html" class="hover:underline">Hubungi Kami</a>
									</li>
									<li>
										<a href="sdank.html" class="hover:underline">Syarat dan Ketentuan</a>
									</li>
									<li>
										<a href="kebijakan-privasi.html" class="hover:underline">Kebijakan Privasi</a>
									</li>
									<li>
										<a href="metode-pembayaran.html" class="hover:underline">Metode Pembayaran</a>
									</li>
								</ul>
							</div>
					</div>
			</div>
			<div class="grid w-full gap-6 md:grid-cols-2">
				<div>
				</div>
				<div>
					<h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">ISO</h2>
					<div class="flex items-center">
						<img src="/assets/perusahaan/cer1.jpeg" class="ms-1 h-12" alt="Certificate ISO 27001">
						<img src="/assets/perusahaan/cer2.jpeg" class="ms-1 h-12" alt="Certificate ISO 9001">
						<img src="/assets/perusahaan/cer3.jpeg" class="ms-1 h-12" alt="Certificate ISO 20000">
					</div>
				</div>
			</div>


			<hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
			<div class="sm:flex sm:items-center sm:justify-between">
					<span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="https://Fiberconnect.id/" class="hover:underline">Fiberconnect</a>. All Rights Reserved.
					</span>
					<div class="flex mt-4 sm:justify-center sm:mt-0">
						<a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5">Privacy Policy</a>
						<a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5">Terms &amp; Conditions</a>
					</div>
			</div>
		</div>
	</footer>
	<!-- Footer: End-->

	<!-- Back To Top Start -->
	<a href="#top" id="back-to-top" class="fixed bottom-6 right-6 right-4 hidden p-2 bg-gray-800 text-white rounded-full shadow-lg hover:bg-gray-600 dark:bg-white dark:text-gray-800 dark:hover:bg-gray-200 transition-transform transform hover:scale-110">
		<svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 8">
			<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7 7.674 1.3a.91.91 0 0 0-1.348 0L1 7"></path>
		</svg>
	</a>
	<!-- Back To Top End -->

	<script src="assets/js/main.js"></script>
	<script src="assets/js/flowbite.min.js"></script>
</body>
</html>
